@use "@styles/abstract" as *;
.root {
  height: 350px;
  width: min(250px, 90vw);
  max-width: 100%;
  position: relative !important;
  cursor: pointer;

  &__addButton {
    position: absolute !important;
    inset: $gutter-md auto auto $gutter-md !important;
    z-index: 2 !important;
    background-color: rgba($secondary-gray-dark, 0.7);
    @include transition-simple;

    &:hover {
      background-color: rgba($primary-light, 0.3);
    }
  }

  &__stack {
    &__img {
      height: 240px !important;
      width: 100% !important;
      overflow: hidden !important;
    }
    &__info {
      height: 40%;
      padding-top: $gutter-md;
      padding-inline: $gutter-md;
    }
  }
}
