@use "../abstract" as *;

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none !important;
    margin: 0;
  }
}

.panel {
  border: solid 1px $primary-gray;
  padding: $gutter-md;
  background-color: $surface-clr-secondary;
  box-shadow: none;
}

.page {
  padding-inline: $padding-inline;
}
