// theme
$primary-dark-x: #b01c23;
$primary-dark: #cb1b24;
$primary: #db2d34;
$primary-light: #e04c53;
$primary-light-x: #ffefed;

$secondary-dark-x: #0024af;
$secondary-dark: #1844cd;
$secondary: #2d57e5;
$secondary-light: #5572ea;
$secondary-light-x: #e9ebfc;

$error-dark: #d32f2f;
$error: #f44336;
$error-light: #e57373;

$error-dark: #f57c00;
$error: #ffa726;
$error-light: #ffb74d;

$info-dark: #0288d1;
$info: #29b6f6;
$info-light: #4fc3f7;

$success-dark: #388e3c;
$success: #66bb6a;
$success-light: #81c784;

$primary-gray: #e6e6e6;
$primary-gray-light: #f2f2f2;
$primary-gray-dark: #bfbebe;
$secondary-gray: #505050;
$secondary-gray-light: #707070;
$secondary-gray-dark: #3c3c3c;

$white: #ffffff;
$white-secondary: #f2f2f2;

$txt-clr: #1a1a1a;
$txt-clr-secondary: #272727;

$surface-clr: $white-secondary;
$surface-clr-secondary: $white;
$surface-contrast-clr: $txt-clr;
$surface-contrast-clr-secondary: $txt-clr-secondary;
